.year {
  margin-bottom: 14px !important;
  font-size: 1.75rem !important;
  color: #abaeb3;
  font-weight: bold !important;
}

.cardList {
  border: 1px solid #abaeb3;
  padding: 20px 15px;
  border-radius: 16px;
  margin-bottom: 22px;
}
